@font-face {
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: 700;
    src: local('Raleway-Bold'), local('Raleway-Bold'), url("../fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Lato-Regular'), local('Lato-Regular'), url("../fonts/Lato-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato Regular', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
